.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.input::placeholder {
  color: var(--tg-theme-button-text-color);
}

.select {
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
